
<!DOCTYPE html>
<html>
<head>
  <title>Attendance Summary</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Attendance Summary</h1>
  <ul>
    <% students.forEach(student => { %>
      <li><%= student.name %> - <%= student.status %></li>
    <% }) %>
  </ul>
  <a href="/">Back</a>
</body>
</html>
